* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
  background-color: #fff;
}

.container {
  width: 100vw;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.box-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.4rem;
  border-bottom: 2px solid #11266d;
  margin: 5rem;
}

.box-left img {
  max-width: 600px;
  width: 100%;
  grid-area: image;
  align-self: center;
}

.box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #96b6d1;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-evenly;
}

h1 {

}

h2 {
  font-size: 1.6rem;
}

.container input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #11266d;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.container button {
  padding: 10px;
  background-color: #1839a5;
  color: #fff;
  border: 5px groove #11266d;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 15px 0;
}

#resultado {
  font-size: 20px;
}

@media screen and (max-width: 768px){
  .grid {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 16px;
  }
}